// app global css in SCSS form
html,
body {
  background-color: transparent !important;
}

div#q-app {
  border-radius: 10px;
  overflow: hidden;
}
body.body--dark #q-app {
  color: #fff;
  background: var(--q-dark-page);
}

body.body--light #q-app {
  background: #fff;
}
